body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

a {
  color: blue;
  text-decoration: none;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
img {
  width: 3%;
}
.projectInfo {
  padding-bottom: 3%;
}
hr {
  width: 50%;
}
