html,
body {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: black;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(
    299deg,
    #e2d7dc,
    #c5d8d5,
    #aaeec7,
    #eabfd2,
    #d2c8ea,
    #e5eac8,
    #fbb5b5
  );
  background-size: 600% 600%;
  -webkit-animation: Gradient 20s ease infinite;
  -moz-animation: Gradient 20s ease infinite;
  animation: Gradient 20s ease infinite;
}
@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
a {
  color: #4489ff;
  text-decoration: none;
}
p {
  margin-left: 12%;
  width: 70%;
}
h3 {
  font-weight: 200;
}
a:hover {
  color: green;
}
h1:hover {
  color: lightgreen;
}
p:hover {
  color: #c17c7c;
}
li:hover {
  color: yellow;
}
p::selection,
a::selection,
li::selection,
h1::selection,
nav::selection {
  color: green;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
hr {
  width: 50%;
}
img {
  width: 3%;
}
.headerContainer {
  font-size: 1.3rem;
  letter-spacing: 3px;
  width: 60%;
  margin-left: 20%;
}
.textContent {
  margin-left: 10%;
  margin-right: 10%;
  font-size: 1.2rem;
  border-radius: 100px;
  background-color: rgba(249, 250, 234, 0.5);
}
.projectInfo {
  padding-bottom: 3%;
}
iframe {
  margin-top: 1%;
  height: 600px;
  width: 810px;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.col1 {
  margin-right: 6%;
}
.col2,
.col3 {
  margin-left: 3%;
  margin-right: 3%;
}
.col4 {
  margin-left: 6%;
}
.summary {
  margin-left: 20%;
  margin-right: 20%;
  line-height: 30px;
}
.project {
  display: inline-block;
  margin: 5%;
}
.projectHeader {
  margin-top: 1%;
  padding-top: 1%;
}
