body {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: black;
  height: 100%;
  /* background-color: #e2d7dc; */
  /* background: linear-gradient(to bottom right, #e2d7dc, #c5d8d5) fixed; */
}
.box {
  height: 1200px;
}

.grad {
  position: relative;
}

.grad:after,
.grad:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: '';
  z-index: -1;
}

.grad:after {
  background: radial-gradient(circle, red, transparent);
  background-size: 400%;
  animation: colorSpin 30s linear infinite;
}

.grad:before {
  background-color: yellow;
}
h1 {
  margin-top: 0;
}
@keyframes colorSpin {
  25% {
    background-position: 0 100%;
  }
  50% {
    background-position: 100% 100%;
  }
  75% {
    background-position: 100% 0;
  }
  100% {
    filter: hue-rotate(360deg);
  }
}
a {
  color: blue;
  text-decoration: none;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
hr {
  width: 50%;
}
img {
  width: 3%;
}
.headerContainer {
  font-size: 1.3rem;
  letter-spacing: 2.5px;
  width: 60%;
  margin-left: 20%;
}
.textContent {
  margin-left: 10%;
  margin-right: 10%;
  font-size: 1.2rem;
  border-radius: 100px;
}
.projectInfo {
  padding-bottom: 3%;
}
iframe {
  margin-top: 1%;
  height: 600px;
  width: 810px;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.col1 {
  margin-right: 6%;
}
.col2,
.col3 {
  margin-left: 3%;
  margin-right: 3%;
}
.col4 {
  margin-left: 6%;
}
